<% provide(:title, 'Published tweets') %>
<h1><%= link_to "@internetfeels", "https://twitter.com/internetfeels" %> published tweets</h1>
<div class="row">
  <div class="span12" style="float: none; margin-left: auto; margin-right: auto;"> 
    <!-- List published tweets -->
    <div class="row">
    <section>        
      <div class="pagerize"> <%= will_paginate @final_tweets %> </div> 
      <% if @final_tweets %>
        <% @final_tweets.each do |f| %> 
          
          <div class="span3" style="text-align: right; ">
            <text id="green"> <%= f.score %> </text> 
          </div> 
          
          <div class="span7"> 
            <blockquote> <%= f.text %> <small><%=f.created_at%></small></blockquote>
          </div>

        <% end %>
      <% end %>
      <div class="pagerize"> <%= will_paginate @final_tweets %> </div> 
    </section>
  </div>
</div>