<p>
  <b>Title:</b>
  <%= article.title %>
</p>
  <% @articles.tag_list.each do |tag|%>
    <%= tag.name %>
   <% end %>
<p>
  <b>Body:</b>
  <%= article.body %>
</p>

<%= link_to 'Show', article %>
<%= link_to 'Edit', edit_article_path(article) %>
<%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %>