<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @article.title %>
</p>

<p>Tags:
  <% @article.tags.each do |tag|%>
    <%= tag.name %>
   <% end %>
</p>

<p>
  <b>Body:</b>
  <%= @article.body %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

<h2>Comments</h2>
<!-- looping through comments because rending partial wasn't working. -->
<% @article.comments.each do |c| %>
  <p>
    <b><%=h c.name %> said:</b><br />
    <%= time_ago_in_words(c.created_at) %> ago
  </p>

  <p>
    <%=h c.body %>
  </p>
<% end %>
<%= form_for([@article, @article.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <p><%= f.submit %></p>
<% end %>