<% provide(:title, 'Voting center') %>
<h1><%= link_to "@internetfeels", "https://twitter.com/internetfeels" %> command center</h1>

<div class="row">
<!-- <<<<<<< HEAD
  <div class="span4" style="float:none; margin-left: auto; margin-right: auto;">
  	<% @tweet = Tweet.new  %>
    <%= form_for(@tweet) do |f| %>
      <%= render 'shared/error_messages', object: @tweet %>
      <%= f.label :text, "Start Tweeting!" %>
      <%= f.text_field :text %>
  </div>
</div>
<div class="row">
  <div class="span4" style="float:none; margin-left: auto; margin-right: auto; ">
     <%= button_tag(type: 'submit', class: "btn btn-info") do %>
 <i class="icon-twitter icon-white"></i> Tweet!
  <% end %>
<% end %> 
<p></p> 
<p><i class="icon-shopping-car"></i></p> 

  </div>
  <hr> 
  <div class="row"  > 
    <div class="span8" style="float:none; margin-left: auto; margin-right: auto; overflow: auto; height: 400px; "> 
       <% tweets = Tweet.find(:all).reverse %>

      <% tweets.each do |tweet| %>
        <%= tweet.created_at %>: <%= tweet.text %><br>
      <% end %> 
</div> 
</div> 
======= -->
  <aside class="span5">

    <section>
      <h1>Submit a tweet</h1>
    </section>

    <!-- Submit a tweet form -->
    <section>
      <% if current_user %>
        <% @tweet = Tweet.new  %>
        <%= form_for(@tweet) do |f| %>
          <%= render 'shared/error_messages', object: @tweet %>
          <div class="input-append"> 
          <%= f.text_field :text, :id=>"doug", :style => "width: 280px;"%>         
            <!-- Submit button -->
            <%= button_tag(type: 'submit', :style => "width: 100px;", class: "btn btn-info") do %>
              Tweet
            <% end %>
          </div> 
        <% end %> 
        <div id="characters" style="float: left;">140 </div>&nbsp;characters remaining
      <% else %>
        <%= link_to "Sign in with Twitter", "/auth/twitter" %> to submit a tweet.
      <% end %>
      
    
    </section>  

    <section>
      <b>What it is</b><br>
      <!-- (you <text id="yellow">know </text>what <text id="yellow">it </text>is)</b><br> -->
      This is the official, direct feed into how the internet feels, and more importantly, what it has to say.
      <br><br>

      <b>How it works</b><br>
      Anyone with a Twitter account can submit a tweet to the voting center. Submitted tweets are then upvoted and downvoted until the timer completes. Every one hour, the highest scoring tweet is published to <%= link_to "@internetfeels", "https://twitter.com/internetfeels" %>, documenting how the internet feels at this frozen point in time. We predict cats.
      <br><br>

      <b>Who done it</b><br>
      InternetFeels was developed by two newbie coders to familiarize themselves with the Twitter API and carry out a simple but interesting Ruby on Rails project from start to finish. Hire us.
      <br><br>
    </section>

  </aside>

  <aside class="span7">   

    <!-- Submitted tweets header -->
    <section>
      <h1>Voting center</h1>
    </section>

    <!-- Display times -->
    <% timer = Timer.first %>
    <% if timer %>
      <section>
        Cycle started at <%= timer.start.strftime('%H:%M') %> UTC<br>
        Cycle ends at <%= timer.end.strftime('%H:%M') %> UTC
      </section>
    <% end %>
    

    <!-- List submitted tweets -->
    <section>       

      <!-- List tweets in descending order of score -->
      <!-- <% tweets = Tweet.find(:all, :order => "score desc") %> -->
      <% tweets = Tweet.paginate(:page => params[:page], :per_page=>10).order('score desc') %> 

      <% if tweets.empty? %>
        There are currently no submitted tweets to vote on.<br>
        <%= link_to "Submit a tweet", "/auth/twitter" %> to change that!
      <% end %>

      <% tweets.each do |tweet| %>

        <!-- Links to upvote and downvote -->
        <div style="padding-top:1px;"> <strong padding="5px;">[<%= tweet.score %>] </strong> <%= link_to raw("<i id=\"white\" class=\"icon-thumbs-up icon-white\"></i>"), upvote_tweet_path(tweet), class: "btn btn-success"%>
          <%= link_to raw("<i id=\"white\" class=\"icon-thumbs-down icon-white\"></i>"), downvote_tweet_path(tweet), 
          class: "btn btn-danger"%> @<%= tweet.username =%>: <%= tweet.text %> </div> <br>
      <% end %>

      <%= will_paginate tweets %>
    </section>
  </aside>
</div>