<% provide(:title, 'Voting center') %>
<h1>Voting center</h1>

<div class="row">
  <aside class="span5">

    <!-- Submit a tweet header -->
    <section>
      <h1>Submit a tweet</h1>
    </section>

    <!-- Submit a tweet form -->
    <section>
    	<% @tweet = Tweet.new  %>
      <%= form_for(@tweet) do |f| %>
        <%= render 'shared/error_messages', object: @tweet %>

        <%= f.text_field :text %>

        <!-- Recaptcha -->
        <%= recaptcha_tags %><br>

        <!-- Submit button -->
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      <% end %>
    </section> 

    <!-- Published tweets header -->
    <section>
      <h1>Published tweets</h1>
    </section>

    <!-- List published tweets -->
    <section>        
      Place final tweets here
    </section>

  </aside>

  <aside class="span7">   

    <!-- Submitted tweets header -->
    <section>
      <h1>Submitted tweets</h1>
    </section>

    <!-- List submitted tweets -->
    <section>        
      <!-- Reverse so last tweet comes first -->
      <% tweets = Tweet.find(:all).reverse %>
      <% tweets.each do |tweet| %>
        <%= tweet.text %><br>
      <% end %>
    </section>
  </aside>

</div>