<% provide(:title, 'Voting center') %>
<h1>Voting center</h1>

<div class="row">
<<<<<<< HEAD
  <div class="span4" style="float:none; margin-left: auto; margin-right: auto;">
  	<% @tweet = Tweet.new  %>
    <%= form_for(@tweet) do |f| %>
      <%= render 'shared/error_messages', object: @tweet %>
      <%= f.label :text, "Start Tweeting!" %>
      <%= f.text_field :text %>
  </div>
</div>
<div class="row">
  <div class="span4" style="float:none; margin-left: auto; margin-right: auto; ">
     <%= button_tag(type: 'submit', class: "btn btn-info") do %>
 <i class="icon-twitter icon-white"></i> Tweet!
  <% end %>
<% end %> 
<p></p> 
<p><i class="icon-shopping-car"></i></p> 

  </div>
  <hr> 
  <div class="row"  > 
    <div class="span8" style="float:none; margin-left: auto; margin-right: auto; overflow: auto; height: 400px; "> 
       <% tweets = Tweet.find(:all).reverse %>

      <% tweets.each do |tweet| %>
        <%= tweet.created_at %>: <%= tweet.text %><br>
      <% end %> 
</div> 
</div> 
=======
  <aside class="span5">

    <!-- Submit a tweet header -->
    <section>
      <h1>Submit a tweet</h1>
    </section>

    <!-- Submit a tweet form -->
    <section>
    	<% @tweet = Tweet.new  %>
      <%= form_for(@tweet) do |f| %>
        <%= render 'shared/error_messages', object: @tweet %>

        <%= f.text_field :text %>

        <!-- Recaptcha -->
        <%= recaptcha_tags %><br>

        <!-- Submit button -->
        <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
      <% end %>
    </section> 

    <!-- Published tweets header -->
    <section>
      <h1>Published tweets</h1>
    </section>

    <!-- List published tweets -->
    <section>        
      <% final_tweets = FinalTweet.find(:all).reverse %>
      <% if final_tweets %>
        <% final_tweets.each do |final_tweet| %>
          <%= final_tweet.text %><br>
        <% end %>
      <% end %>
    </section>

  </aside>

  <aside class="span7">   

    <!-- Submitted tweets header -->
    <section>
      <h1>Submitted tweets</h1>
    </section>

    <!-- List submitted tweets -->
    <section>       

      <!-- List tweets in descending order of score -->
      <% tweets = Tweet.find(:all, :order => "score desc") %>
      <% tweets.each do |tweet| %>

        <!-- Links to upvote and downvote -->
        [ <%= tweet.score %> ] [ <%= link_to "Upvote", upvote_tweet_path(tweet) %> ] [ <%= link_to "Downvote", downvote_tweet_path(tweet) %> ] <%= tweet.text %><br>
      <% end %>
    </section>
  </aside>

>>>>>>> styling-break
</div>