<% provide(:title, 'Voting center') %>
<h1>The Internet Feels: </h1>

<div class="row">
<!-- <<<<<<< HEAD
  <div class="span4" style="float:none; margin-left: auto; margin-right: auto;">
  	<% @tweet = Tweet.new  %>
    <%= form_for(@tweet) do |f| %>
      <%= render 'shared/error_messages', object: @tweet %>
      <%= f.label :text, "Start Tweeting!" %>
      <%= f.text_field :text %>
  </div>
</div>
<div class="row">
  <div class="span4" style="float:none; margin-left: auto; margin-right: auto; ">
     <%= button_tag(type: 'submit', class: "btn btn-info") do %>
 <i class="icon-twitter icon-white"></i> Tweet!
  <% end %>
<% end %> 
<p></p> 
<p><i class="icon-shopping-car"></i></p> 

  </div>
  <hr> 
  <div class="row"  > 
    <div class="span8" style="float:none; margin-left: auto; margin-right: auto; overflow: auto; height: 400px; "> 
       <% tweets = Tweet.find(:all).reverse %>

      <% tweets.each do |tweet| %>
        <%= tweet.created_at %>: <%= tweet.text %><br>
      <% end %> 
</div> 
</div> 
======= -->
  <aside class="span6">

    <!-- Submit a tweet header -->
    

    <!-- Published tweets header -->
    <section>
      <h1>Published tweets</h1>
    </section>

    <!-- List published tweets -->
    <section>        
      <% final_tweets = FinalTweet.find(:all).reverse %>
      <% if final_tweets %>
        <% final_tweets.each do |final_tweet| %>
          <%= final_tweet.text %><br>
        <% end %>
      <% end %>
    </section>


   <section>
      <h1>Submit a tweet</h1>
    </section>

    <!-- Submit a tweet form -->
    <section>
      <% @tweet = Tweet.new  %>
      <%= form_for(@tweet) do |f| %>
        <%= render 'shared/error_messages', object: @tweet %>
        <div class="input-append"> 
        <%= f.text_field :text, :style => "width: 350px;"%>
          <%= button_tag(type: 'submit', class: "btn btn-info") do %>
 <i class="icon-twitter icon-white"></i> Tweet!
  <% end %>
<% end %> 
      </div> 

        <!-- Recaptcha -->
        <%= recaptcha_tags %><br>

        <!-- Submit button -->
       
   
    </section>  

  </aside>

  <aside class="span6">   

    <!-- Submitted tweets header -->
    <section>
      <h1>Submitted tweets</h1>
    </section>

    <!-- List submitted tweets -->
    <section>       

      <!-- List tweets in descending order of score -->
<!--       <% tweets = Tweet.find(:all, :order => "score desc") %> -->
      <% tweets = Tweet.paginate(:page => params[:page], :per_page=>10).order('score DESC') %> 
      <% tweets.each do |tweet| %>

        <!-- Links to upvote and downvote -->
        <div style="padding-top:1px;"> <strong padding="5px;">[<%= tweet.score %>] </strong> <%= link_to raw("<i class=\"icon-thumbs-up icon-white\"></i>"), 
          upvote_tweet_path(tweet), 
          class: "btn btn-success"%>  <%= link_to raw("<i class=\"icon-thumbs-down icon-white\"></i>"), 
          downvote_tweet_path(tweet), 
          class: "btn btn-danger"%>  <%= tweet.text %> </div> <br>
      <% end %>
       <%= will_paginate tweets %>
    </section>
  </aside>
</div>