<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Internet", root_path, id: "logo-white" %>
      <%= link_to "Feels", root_path, id: "logo-blue" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Published tweets", final_tweets_path %></li>
          <% if current_user %>
            Signed in as <%= current_user.name %>!
            <li><%= link_to "Sign out", signout_path %></li>
          <% else %>
            <li><%= link_to "Sign in with Twitter", "/auth/twitter" %></li>
          <% end %>
      </nav>
    </div>
  </div>
</header>